<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% extends "base.html" %}

        {% block content %}
            <h1>Миссия колонизации Марса</h1>
            <h2>И на Марсе будут яблони цвести!</h2>
        <h4>Список профессий</h4>
{% if type == "ol" %}
    <ol>
    {% for item in profs %}
        <li>{{item}}</li>
    {% endfor %}
        </ol>
{% elif type == "ul" %}
    <ul>
    {% for item in profs %}
        <li>{{item}}</li>
    {% endfor %}
        </ul>
{% else %}
    <h3>Неверный параметр списка</h3>
 {% endif %}

        {% endblock %}
</body>
</html>