<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% extends "base.html" %}

        {% block content %}
            <h1>Миссия колонизации Марса</h1>
{% if 'инженер' in prof or 'строитель' in prof%}
        <h2>Инженерные тренажеры</h2>
        <img src="static/img/et.png" alt="error">
{% elif 'врач' in prof%}
       <h2>Научные симуляторы</h2>
        <img src="static/img/ss.png" alt="error">
{% else %}
        <h2>Схема корабля для остальных специалистов</h2>
        <img src="static/img/default.png" alt="error">
 {% endif %}

        {% endblock %}
</body>
</html>