<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Журнал работ</title>

</head>
<body>
{% extends "base.html" %}

{% block content %}
<h1 style="text-align: center">Works log</h1>

{% for item in jobs%}
<div class="col-md6 border rounded">
    <h2>{{item.title}}</h2>
    <div>
        <strong><h2>Action #{{loop.index}}</h2></strong>
    </div>
    <div>
        <table style="width: 100%">
            <tr>
                <th>Title of activity</th>
                <th>Team leader</th>
                <th>Duration</th>
                <th>List of collaborators</th>
                <th>Is finished</th>
            </tr>
            <tr>
                <td>{{item.job}}</td>
                <td>{{item.team_leader}}</td>
                <td>{{item.work_size}} hours</td>
                <td>{{item.collaborators}}</td>
                {% if item.is_finished == False %}
                    <td style="background-color: #ffeeff">Is not finished</td>
                {% else %}
                    <td style="background-color: #eeeeff">Is finished</td>
                {% endif %}
            </tr>
        </table>
        {% if current_user.is_authenticated and (current_user == item.user
        or current_user.id == 1) %}
    <div>
        <a href="/job_adding/{{ item.id }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/job_delete/{{ item.id }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
{% endif %}
    </div>
</div>
{% endfor %}
{% endblock %}
</body>
</html>